$title-font: "Lexend Giga", serif;
$text-font: "Quicksand", serif;

.parallax-container {
    position: relative;
    height: 500px; /* Ajuste conforme necessário */
}

.parallax img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h3 {
    font-family: $title-font;
}

.text-about{
    font-family: $text-font;
}