$title-font: "Lexend Giga", serif;
$text-font: "Quicksand", serif;
$simple-shadow:rgba(0,0,0,0.15);

.parallax-container {
    position: relative;
    height: 500px;
}

.parallax img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h3 {
    font-family: $title-font;
}

.text-about{
    font-family: $text-font;
}

.about-us-text {
    box-shadow: 
    0 -4px 6px $simple-shadow,
    0 4px 6px $simple-shadow;
}